<main>
    <h1 class="item-title">{{ product.title }}</h1>

    <section class="item-details">
        <div class="item-image">
            <img [src]="product.image" alt="{{ product.title }}">
        </div>

        <div class="item-info">
            <p>{{ product.description }}</p>
            <p class="item-category">{{product.category}}</p>
            <div class="item-rating">
                <span class="rate-value">{{ product.rating?.rate }}</span>
                <span class="rate-count">{{ product.rating?.count }} reviews</span>
            </div>
            <p class="item-price">{{ product.price }} $</p>
        </div>
    </section>
</main>
