main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}

.item-title {
  font-size: 18px;
  margin: 0;
  padding: 5px;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  padding: 15px;
  gap: 15px;
  justify-content: center;
}

.item-image {
  width: 500px;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
}

.item-image img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.item-info {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  gap: 15px;
}

.item-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.item-price {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 10px;
}

.item-description {
  font-size: 14px;
  line-height: 1.4;
  margin: 5px 0;
  color: #333;
  margin-bottom: 10px;
}

.item-category {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rate-value {
  font-size: 16px;
  margin-right: 5px;
  color: #f39c12;
}


@media screen and (max-width: 768px) {
  .item-details {
    flex-direction: column;
    align-items: center;
  }

  .item-image {
    width: 95%;
    height: 250px;
  }

  .item-info {
    max-width: 90%;
  }

  .item-title {
    font-size: 16px;
    padding: 10px;
  }

}
