<header>
    <h3>Welcome to FakeStore: Powered by Fake Store API</h3>
    <p>Here you can find the list of products available in the store.</p>
</header>
<main *ngIf="products" class="product-list">
    <div class="product-card" *ngFor="let product of products" (click)="product.id && onProductClick(product.id)">
        <img class="product-image" [src]="product.image" alt="{{ product.title }}">
        <div class="product-details">
            <h4>{{ product.title }}</h4>
            <p>{{ product.description }}</p>
            <div class="product-rating">
                <span class="rating-value"> {{product.rating?.rate}} </span>
                <span class="rating-count"> {{ product.rating?.count }} reviews</span>
            </div>
        </div>
    </div>
</main>

<div *ngIf="loading" class="spinner">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
