header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h3 {
    margin: 0;
    background: linear-gradient(90deg, #ff00ff, #ff0000, #ff00ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.product-card {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.product-card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.product-image {
    flex: 1;
    max-width: 45%;
    max-height: 200px; // This will limit the height of the image
    object-fit: cover;
    margin-right: 10px;
}

.product-details {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.product-details p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
